
[class^='heading-']{
  text-transform: uppercase;
}


.heading--skew-animated{
  transition:all .3s ease-out;
  &:hover{
    transform:skewY(2deg) skewX(10deg);
    text-shadow: .5rem 1rem 2rem rgba($color-dark,.2);
  }
}


.heading-primary {
  color:$color-light;
  backface-visibility: hidden;
  margin-bottom:1.5rem;

  & > * {
    display: block;
  }

  & span:first-child{
    font-size:5rem;
    font-weight: 400;
    letter-spacing: 2rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */

  }

  & span:nth-child(2){
    font-size:1.7rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation:moveInRight 1s ease-out;
  }

}



.heading-secondary{
  font-size:3.5rem;
  font-weight: 700;
  background-image:linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display:inline-block;
  -webkit-background-clip: text;
  color:transparent;
  letter-spacing: 2px;
  transition:all .2s ease-out;
  &:hover{
    transform:skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem rgba($color-dark,.2);
  }
}


.heading-tertiary{
  font-size:$default-font-size;
  font-weight:700;
  &--white{
    color:white;
  }
}


.heading-fourth{
  font-size:3.5rem;
  font-weight:700;
  background-image:linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
  @include crossBrowser(background-clip,text);
  color:transparent;
  letter-spacing: 2px;
  display: inline-block;
}

.paragraph{
  font-size:$default-font-size;
  &:not(:last-child){
    margin-bottom:3rem;
  }
  &--white{
    color:white;
  }
}
